@font-face { 
  font-family: yellowtail; 
	src: url('fonts/Yellowtail/Yellowtail-Regular.ttf'); 
} 

@font-face { 
  font-family: montserrat; 
	src: url('fonts/Montserrat/Montserrat-Regular.ttf'); 
} 

body {
  font-family: montserrat;
  margin-bottom: 50px;
}

nav .nav_link {
  flex-grow: 1;
}

nav {
  flex-direction: row;
  display: inline-flex; 
  width: 100%;
  text-align: center;
}

.image p {
  font-size: 0.8em;
  text-align: center;
}

.image img {
  display: block;
  margin: 5px auto 5px auto;
}

.title {
  text-align: center;
  font-family: yellowtail;
  font-size: 3em;
}


main {
  margin: 10px 15% 10px 15%;
}

.citations {
  margin-top: 100px;
}

article {
  margin: 10px 0px 10px 0px;
}


article .article_title {
  font-size: 1.8em;
  margin: 50px 0px 5px 0px;
  font-family: yellowtail;
}

a:hover {
  color: gray;
}

a {
  color: black;
}


article img {
  text-align: center;
}

article .article_date {
  font-size: 1em;
  margin: 10px 0px 5px 0px;
  color: gray;
}

article .tags {
  font-size: 0.8em;
  margin: 10px 0px 50px 0px;
  color: gray;
}

article .article_summary {
  font-size: 1.1em;
  margin: 10px 0px 5px 0px;
}


